### Carregando biblitecas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Carregando dados

In [3]:
dataset = pd.read_csv("Ads_CTR_Optimisation.csv")
dataset.head()

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0